.wrapper {
    max-width: 1200px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.strikethrough-line + span{
    text-decoration: line-through;
}

span {
    font-size: 20px;
    font-weight: bold;
}

.trash {
    padding: 20px;
    font-size: 30px;
    background: transparent;
    border: none;
}

.newTask {
    max-width: 1200px;
    margin: 20px auto 50px;
    text-align: center;;
}

.newTask input, .add {
    padding: 10px;
    font-weight: bold;
    font-size: 18px
}

